body {
    margin: 15px 0;
    background: rgb(248, 242, 203);
  }
  
  header {
      border-top: dotted #0A75BC 5px;
      border-bottom: dotted #0A75BC 5px;
  }
  
  .header{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
  }
  
  h2 {
      text-align: center;
      font-family: 'Press Start 2P', cursive;
      font-size: 20pt;
  }

  .button {
    background-color: rgb(248, 242, 203);
    color: black;
    font-size: 14px;
    padding: 10px 24px;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 75px;
  }

  .button:hover {
    background-color: #0A75BC;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  
  
  .board {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  .card {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 150px;
    width: 150px;
    position: relative;
    transition: transform 1.5s ease-in-out;
    transform-style: preserve-3d;
    margin: 5px;
  }
  
  .selected {
    transform: rotateY(180deg);
  }
  
  .match
  .front {
    background-image: url(images/banana.png) !important;;
  }
  
  .card,
  .back,
  .front {
    height: 150px;
    width: 150px;
  }
  
  .back,
  .front {
    position: absolute;
    backface-visibility: hidden;
  }
  
  .front {
    background: #fce029 url(images/eye.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .back {
    transform: rotateY(180deg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }
  